<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
	  <!--<記住密碼與連線資訊設定>-->
      <add key="rememberMe" value=""/>
	  <add key="connectionString" value=""/>
	  <add key="databaseName" value=""/>
      <add key="userName" value=""/>
      <add key="passWord" value=""/>
    </appSettings>
</configuration>